.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.tmp
.DS_Store
Thumbs.db

# renv settings
renv/library/ 
renv/staging/
renv/cache/

R/_utils
documentation/trash/
notebooks/
**/source/
**/trash/
**/_archive/
**/_reference/
~WRL2715.tmp
documentation/demos/fisheries_dashboard_demo.mp4
.claude/
.cursor/
.posit/
.rhino/
tests/
